#roomavailability > table td {
    background-color: red;
    text-align: center;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

#roomavailability > table td.caption {
    background-color: transparent;
    text-align: left;
}

#roomavailability > table td.available {
    background-color: green;
}

#roomavailability > table th {
    text-align: center;
}

#roomavailability > form {
    text-align: center;
    padding-bottom: 15px;
}
